@font-face {
    font-family: 'HelveticaLight';
    src: url(../fonts/helvetica_light.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Futura Bold';
    src: url(../fonts/Futura_Book_font.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Futura Medium';
    src: url(../fonts/futura_medium.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}